.filters-list-container {
  display: flex;
  margin: 23px;
}

.filter-button {
  margin: 2px;
  padding: 5px 15px;
  border-radius: 2px;
  background-color: hsla(0, 0%, 0%, 0.4);
}

.filter-placeholder {
  height: 21px;
  margin: 2px;
  padding: 5px 15px;
  border-radius: 2px;
  background-image: linear-gradient(
    to right,
    hsl(0, 0%, 20%),
    hsl(0, 0%, 20%),
    hsl(0, 0%, 20%),
    hsl(0, 0%, 40%),
    hsl(0, 0%, 20%),
    hsl(0, 0%, 20%),
    hsl(0, 0%, 20%)
  );
  background-size: 200% 100%;
  animation: button-loader 3s infinite linear;
}

@keyframes button-loader {
  0% {
    background-position: 250% 0%;
  }
  100% {
    background-position: -250% 0%;
  }
}
